.about {
  background-color: #2e8b57;
  height: 100%;
  border: solid 2px black;
  position: absolute;
  display: flex;
  top: 0;
  /* transform: translateX(calc(100% - 135px)); */
  width: 133px;
  transition: 0.7s ease-in-out;
}

.about.expanded {
  /* transform: translateX(0%) !important; */
  width: 100% !important;
}

.about.hovered {
  /* transform: translateX(calc(100% - 150px)); */
  width: 150px;
  background-color: #577aab;
}

.title {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 7rem;
  right: 0;
  margin: 0;
  transform-origin: center center;
  border: solid 2px black;
}
