.about {
  background-color: #2e8b57;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  border: solid 2px black;
}

.title {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 50%;
  transform-origin: center center;
  transform: rotate(270deg);
  border: solid 2px black;
}
